Repository netpanzer/netpanzer: changes, and which Cirrus tasks are due for each by the changed paths.
All: FreeBSD 13.2, Ubuntu arm64, macOS arm64

.cirrus.yml:

env:
  NETPANZER_DATADIR: $CIRRUS_WORKING_DIR

freebsd_task:
  skip: "changesIncludeOnly(
    '**.{cpp,hpp,c,h}',
    '**meson.build',
    'setup-build.*',
    'subprojects/*.wrap',
    '.cirrus.yml'
    )"
  name: FreeBSD 13.2
  freebsd_instance:
    image_family: freebsd-13-2

  env:
    CIRRUS_CLONE_SUBMODULES: true

  pkginstall_script:
    - pkg update -f
    - pkg install -y meson ninja physfs pkgconf SDL2 sdl2_mixer sdl2_ttf

  setup_script:
    - ./setup-build.sh _build
  build_script:
    - cd _build && ninja
  test_script:
    - cd _build && meson test --suite=netpanzer -v

arm_task:
  skip: "changesIncludeOnly(
    '.cirrus.yml',
    '**.{cpp,hpp,c,h}',
    '**meson.build'
    )"
  name: Ubuntu arm64
  arm_container:
    image: andy5995/netpanzer-build-env:jammy
  env:
    CIRRUS_CLONE_SUBMODULES: true
  setup_script:
    - ./setup-build.sh _build
  build_script:
    - cd _build && ninja -v
  test_script:
    - cd _build && meson test --suite=netpanzer -v

macos_task:
  skip: "changesIncludeOnly(
    '.cirrus.yml',
    '**.{cpp,hpp,c,h}',
    '**meson.build'
    )"
  name: macOS arm64
  macos_instance:
    image: ghcr.io/cirruslabs/macos-ventura-xcode:latest

  env:
    CIRRUS_CLONE_SUBMODULES: true

  pkginstall_script:
    - brew update
    - brew install meson ninja physfs sdl2 sdl2_ttf sdl2_mixer
  setup_script:
    - ./setup-build.sh _build
  build_script:
    - cd _build && ninja
  test_script:
    - cd _build && meson test --suite=netpanzer -v

fix: setup script, don't you cd
  setup-build.sh
Due: Ubuntu arm64, macOS arm64

docker: fix variable problems
  support/appimage/prep-appimage.sh
  support/docker/Dockerfile-build-env
Due: FreeBSD 13.2, Ubuntu arm64, macOS arm64

Fix some shadow declarations and CodeQL warning
  src/Lib/2D/Surface.hpp
  src/Lib/Util/Timer.hpp
  src/NetPanzer/Classes/Network/PowerUpNetMessage.hpp
Due: none

consistency
  src/NetPanzer/Classes/Network/PowerUpNetMessage.hpp
Due: none

remove underscores
  src/Lib/2D/Surface.hpp
  src/Lib/Util/Timer.hpp
  src/NetPanzer/Classes/Network/PowerUpNetMessage.hpp
Due: none

Fix some shadow declarations and CodeQL warning (#156)
  src/Lib/2D/Surface.hpp
  src/Lib/Util/Timer.hpp
  src/NetPanzer/Classes/Network/PowerUpNetMessage.hpp
Due: none

fix cirrus rule
  .cirrus.yml
Due: none

Fix crashing at main menu when sanitize is enabled
  meson.build
  src/Lib/Util/FileSystem.cpp
Due: none

maint: remove unused Dockerfile-jammy
  support/docker/Dockerfile-jammy
Due: FreeBSD 13.2, Ubuntu arm64, macOS arm64

maint: Remove Lib/INIParser
  src/Lib/INIParser/Section.cpp
  src/Lib/INIParser/Section.hpp
  src/Lib/INIParser/Store.cpp
  src/Lib/INIParser/Store.hpp
  src/NetPanzer/Interfaces/GameConfig.cpp
Due: none

meson: Post release version bump to 0.9.0.07.555
  meson.build
Due: none

CI: Edit trigger filters (#154)
  .cirrus.yml
  .github/workflows/c-cpp.yml
  .github/workflows/codeql.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: FreeBSD 13.2, Ubuntu arm64, macOS arm64

docs: Add WhatsApp and Instagram group
  README.md
Due: FreeBSD 13.2, Ubuntu arm64, macOS arm64

Fix test broken by version bump
  src/Lib/package.cpp
Due: none

CI: fix filters
  .github/workflows/c-cpp.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: FreeBSD 13.2, Ubuntu arm64, macOS arm64

Add "starting soon" message to winner screen
  src/NetPanzer/Views/Game/EndRoundView.cpp
Due: none

Fixes warning with sanitizer enabled in network layer (related to magic numbers and alignment issues)
  src/NetPanzer/Classes/Network/NetMessageDecoder.cpp
Due: none

Typo
  src/NetPanzer/Particles/GroundExplosionParticleSystem2D.cpp
Due: none

Removes particle pre-allocation that was not used and causing segfaults.
  src/NetPanzer/Particles/Particle2D.cpp
  src/NetPanzer/Particles/Particle2D.hpp
Due: none

typo
  src/NetPanzer/Particles/ParticleInterface.cpp
Due: none

Fixes using uninitialized memory.
  src/NetPanzer/Particles/SmolderParticleSystem2D.cpp
Due: none

Typo
  src/NetPanzer/Particles/TemplateExplosionSystem.cpp
Due: none

Fixes using uninitialized memory
  src/NetPanzer/Particles/TemplateMuzzleSystem.cpp
Due: none

Fixing overflow.
  src/NetPanzer/Units/Vehicle.cpp
Due: none

CI: Fix trigger filter for CodeQL
  .github/workflows/codeql.yml
Due: FreeBSD 13.2, Ubuntu arm64, macOS arm64

modify code to use new data directory
  meson.build
  src/Lib/Util/FileSystem.cpp
  src/Lib/Util/FileSystem.hpp
  src/Lib/package.cpp
  src/NetPanzer/Core/main.cpp
Due: none

CI: append '/data' to env var
  .cirrus.yml
  .github/workflows/c-cpp.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: FreeBSD 13.2, Ubuntu arm64, macOS arm64

CI: Change path filter to 'src/**/**'
  .github/workflows/codeql.yml
Due: FreeBSD 13.2, Ubuntu arm64, macOS arm64

CI: adjust filters in 3 other workflows
  .github/workflows/c-cpp.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
Due: FreeBSD 13.2, Ubuntu arm64, macOS arm64

fix filter in formatting yml
  .github/workflows/check-formatting.yml
Due: FreeBSD 13.2, Ubuntu arm64, macOS arm64

Implement localization
  .github/scripts/install-linux-deps.sh
  .github/workflows/c-cpp.yml
  meson.build
  meson_options.txt
  po/LINGUAS
  po/POTFILES
  po/de.po
  po/meson.build
  po/netpanzer.pot
  src/Lib/gettext.h
  src/NetPanzer/Core/main.cpp
  src/NetPanzer/Views/MainMenu/Multi/HostJoinTemplateView.cpp
Due: FreeBSD 13.2, Ubuntu arm64, macOS arm64

Translations work
  .github/workflows/c-cpp.yml
  .github/workflows/windows.yml
  meson.build
  po/POTFILES
  po/de.po
  po/meson.build
  po/netpanzer.pot
  src/Lib/package.cpp
  src/Lib/package.hpp
  src/NetPanzer/Core/main.cpp
  src/NetPanzer/Interfaces/DedicatedGameManager.cpp
  src/NetPanzer/Interfaces/InfoSocket.cpp
  src/NetPanzer/System/SDLVideo.cpp
  src/NetPanzer/Views/MainMenu/MenuTemplateView.cpp
  src/NetPanzer/Views/MainMenu/Multi/HostJoinTemplateView.cpp
Due: FreeBSD 13.2, Ubuntu arm64, macOS arm64

remove unneeded include
  src/NetPanzer/Core/main.cpp
Due: none

Add localization header
  .cirrus.yml
  .github/workflows/macos.yml
  po/de.po
  po/netpanzer.pot
  src/Lib/Localization.hpp
  src/NetPanzer/Core/main.cpp
  src/NetPanzer/Views/MainMenu/MenuTemplateView.cpp
  src/NetPanzer/Views/MainMenu/Multi/HostJoinTemplateView.cpp
Due: FreeBSD 13.2, Ubuntu arm64, macOS arm64

add missing host_sys var
  meson.build
Due: none
